@using RazorEngine.Templating
@using CKGen.Temp.AspnetMVC
@using CKGen.DBSchema;
@inherits TemplateBase<PageViewModel>

@@model @(Model.WebProjNameSpace).Models.@(Model.DBTable.Name)ViewModel
@@{
    ViewBag.Title = "新增";
}
@@using (Html.BeginForm("Create", "@(Model.DBTable.Name)", FormMethod.Post, new { @@id = "form1" }))
{
    @@Html.AntiForgeryToken()
    @@Html.HiddenFor(p => p.ID)
    <div class="layout">
        <div class="controls">
            <label class="label">机构名称</label>
            @@Html.TextBoxFor(p => p.OrgName, new { @@style = "width:280px;", @@readonly = "readonly" })
            <div class="help-inline">
            </div>
        </div>
        <div class="controls">
            <label class="label">机构简称</label>
            @@Html.TextBoxFor(p => p.OrgShortName, new { @@style = "width:280px;", @@readonly = "readonly" })
            <div class="help-inline">
            </div>
        </div>
        <div class="controls">
            <label class="label">申请人</label>
            @@Html.TextBoxFor(p => p.CreateUser.Name, new { @@style = "width:280px;", @@readonly = "readonly" })
            <div class="help-inline">
            </div>
        </div>
        <div class="controls">
            <label class="label">申请时间</label>
            <input name="CreateTime" id="CreateTime" type="text" style="width:280px;" readonly="readonly" value="@("@")Model.CreateTime.ToString(" yyyy-mm-dd")" />
            <div class="help-inline">
            </div>
        </div>
        <div class="controls">
            <label class="label">备注</label>
            @@Html.TextAreaFor(p => p.Remark, new { rows = "10", cols = "80", @@style = "width:500px" })
            <div class="help-inline">
                @@Html.ValidationMessageFor(p => p.Remark)
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="layout-button">
        <ul>
            <li>
                <input type="submit" value="保存" class="button yellow" />
            </li>
            <li>
                <input type="button" value="取消" class="button bugrey" onclick="location='@("@Href(\"~/" + Model.DBTable.Name + "/\")" )'" />
            </li>
        </ul>
    </div>
}
<script type="text/javascript">
    $(function () {
        $("#form1").submit(function (evt) {
            var frmObj = $(this);
            $.validator.unobtrusive.parse(frmObj);
            var fvalid1 = check();
            var fvalid2 = frmObj.valid();

            if (fvalid1 && fvalid2) {
                $.post('@@Href("~/@(Model.DBTable.Name)/Create")'
                , frmObj.serialize()
                , function (data) {
                    showMsg(data);
                    if (data.success) {
                        location = '@@Href("~/@(Model.DBTable.Name)/")';
                    }
                }
                , "json"
            );
        }

        evt.preventDefault();
    });

});

function check() {
    var success = true;

    return success;
}

</script>
