@using RazorEngine.Templating
@using CKGen.Temp.AspnetMVC
@using CKGen.DBSchema;
@inherits TemplateBase<SimpleChildGenModel>

@@model @(Model.WebProjNameSpace).Models.@(Model.ParentModel.Name)ViewModel

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
@foreach (var inp in Model.Items)
{
    if (inp.InputType == "hidden")
    {
        continue;
    }
            <text><th>
                @inp.Title
            </th></text>
}            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody id="@(Model.ChildCollectionName.ToLower())box">
        @@for (int i = 0; i < @("Model." + Model.ChildCollectionName + ".Count"); i++)
        {
            <tr class="@(Model.ChildCollectionName.ToLower())row">
                @for (int i = 0; i < Model.GetColumnCount(); i++)
                {
                <td>
                    @Model.GetRowHtmlString(i)
                </td>
                }
                <td style="vertical-align:middle">
                    <a href="javascript:void(0)" onclick="removeRow(this)">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function addRow(sid, date, btime, etime) {
        sid = sid || -1;
        date = date || "";
        btime = btime || "";
        etime = etime || "";
        var h = '';
        h += '<tr class="trytimerow">';
        @for (int i = 0; i < Model.GetColumnCount(); i++)
        {
        <text>h += '<td>';
        @Model.GetRowForJS(i)
        h += '</td>';</text>
        }
        h += '<td style="vertical-align:middle">';
        h += '<a href="javascript:void(0)" onclick="removeRow(this)">删除</a>';
        h += '</td>';
        h += '</tr>';
        $("#@(Model.ChildCollectionName.ToLower())box").append(h);
        updateRowId();
    }
    function removeRow(obj) {
        $(obj).parents("tr.@(Model.ChildCollectionName.ToLower())row").remove();
        updateRowId();
    }
    function updateRowId() {
        $(".@(Model.ChildCollectionName.ToLower())row").each(function (i, o) {
            @for (int i = 0; i < Model.GetColumnCount(); i++)
            {
            <text>@Model.GetRowForJSUpdateId(i)</text>
            }
        });
    }
</script>
